#item {
	/* text-align: center; */
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 200%;
	background-color: gainsboro;
	height: 100%;
	align-items: center;
}

#dropdown {
	width: 100%;
}

#Select {
	color: 'hsl(0, 0%, 40%)';
	display: 'inline-block';
	font-size: 12;
	font-style: 'italic';
	margin-top: 1em;
}

#selectFormat {
	width: 80%;
	font-weight: 20px;
	border: 3px solid gainsboro;
	border-radius: 5px;
	text-align: center;
	color: rgb(0, 119, 255);
	background-color: gainsboro;
	margin-bottom: 5px;
}

#logo {
	width: 250px;
	height: 100px;
	margin-left: 30px;
}

#ApplyItem {
	background-color: rgb(231, 231, 231);
}

#Menu {
	background-color: rgb(231, 231, 231);
	height: 100px;
}

.btn-grad {
	background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%)
}

.btn-grad {
	border: 7px solid gainsboro;
	height: 50%;
	width: 100%;
	top: 50%;
	bottom: 50%;
	transform: translate(0%,50%);
	font-weight: 20px;
	text-align: center;
	font-size: 80%;
	color: gainsboro;
	border-radius: 10px;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	box-shadow: 0 0 20px #eee;
}

.btn-grad:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}